<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard - <span class="text-info"><%= current_date.strftime("%d/%m/%Y") %></span></h1>
</div>
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Total Líquido (Mensal)
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">$<%= @print_total_liquido_earnings %></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Ganhos (Mensais)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">$<%= @print_monthly_earnings %></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                            Despesas (mensais)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">$<%= @print_monthly_expenses %></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-funnel-dollar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                            Despesas sobre o Total de Ganhos (MENSAL)
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= @expense_percentage %>%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-danger" role="progressbar"
                                        style="width: <%= @expense_percentage %>%" aria-valuenow="<%= @expense_percentage %>" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-file-invoice-dollar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content Row -->
<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Resumo dos Ganhos</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Ações:</div>
                        <a class="dropdown-item" href="#">Ver tabela</a>
                        <a class="dropdown-item" href="#">Escolher outro gráfico</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Tirar gráfico</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12 col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Acumulação Ganhos (Anuais)</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">$<%= @print_annual_earnings %></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Tipo de Ganhos</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Ações:</div>
                        <a class="dropdown-item" href="#">Ver tabela</a>
                        <a class="dropdown-item" href="#">Escolher outro gráfico</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Tirar gráfico</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12 col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Maior Provento (Mensal)</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">$<%= @print_monthly_earnings %></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                </div>
                <div class="mt-4 text-center small">
                    <%
                        MovementType.where("pointer_type = 'ganho' AND user_id = #{current_user.id}").each do |t|
                    %>
                        <span class="mr-2">
                            <i class="fas fa-circle" style="color: <%= t.color %>"></i> <%= t.title %>
                        </span>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content Row -->
<div class="row">
    <!-- Content Column -->
    <div class="col-lg-6 mb-4">
        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Metas</h6>
            </div>
            <div class="card-body">
                <h4 class="small font-weight-bold">Ter R$ 30.000,00 conto em ações<span
                        class="float-right">40%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 40%"
                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Comprar meu app de música - R$ 5.000,00<span
                        class="float-right">10%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 10%"
                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Juntar para Viajar pro Caribe <span
                        class="float-right">60%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 60%"
                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Juntar pro meu teclado - R$ 1.000,00 <span
                        class="float-right">Complete!</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 100%"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Juntar nosso primeiro R$ 1.000.000,00 <span
                        class="float-right">1%</span></h4>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 1%"
                        aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <!-- Color System -->
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card bg-primary text-white shadow">
                    <div class="card-body">
                        Primary
                        <div class="text-white-50 small">#4e73df</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-success text-white shadow">
                    <div class="card-body">
                        Success
                        <div class="text-white-50 small">#1cc88a</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-info text-white shadow">
                    <div class="card-body">
                        Info
                        <div class="text-white-50 small">#36b9cc</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-warning text-white shadow">
                    <div class="card-body">
                        Warning
                        <div class="text-white-50 small">#f6c23e</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-danger text-white shadow">
                    <div class="card-body">
                        Danger
                        <div class="text-white-50 small">#e74a3b</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-secondary text-white shadow">
                    <div class="card-body">
                        Secondary
                        <div class="text-white-50 small">#858796</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-light text-black shadow">
                    <div class="card-body">
                        Light
                        <div class="text-black-50 small">#f8f9fc</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-dark text-white shadow">
                    <div class="card-body">
                        Dark
                        <div class="text-white-50 small">#5a5c69</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Gerenciar Gráficos</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src="img/undraw_Finance_re_gnv2.svg" alt="">
                </div>
                <p>Adicione mais gráficos na sua dashboard escolhendo o que deseja ver! 
                    Você pode olhar os dados manualmente na página <a target="_blank" rel="nofollow" href="/list">Lista</a> ou selecionar o gráfico que irá aparecer
                    sempre que realizar seu login!</p>
                <a target="_blank" rel="nofollow" href="/graph-manager">Gerenciar gráficos &rarr;</a>
            </div>
        </div>
    </div>
</div>


    <!-- Area Graph -->
    <script>
        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';

        function number_format(number, decimals, dec_point, thousands_sep) {
        // *     example: number_format(1234.56, 2, ',', ' ');
        // *     return: '1 234,56'
        number = (number + '').replace(',', '').replace(' ', '');
        var n = !isFinite(+number) ? 0 : +number,
            prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
            sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
            dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
            s = '',
            toFixedFix = function(n, prec) {
            var k = Math.pow(10, prec);
            return '' + Math.round(n * k) / k;
            };
        // Fix for IE parseFloat(0.55).toFixed(0) = 0;
        s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
        if (s[0].length > 3) {
            s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
        }
        if ((s[1] || '').length < prec) {
            s[1] = s[1] || '';
            s[1] += new Array(prec - s[1].length + 1).join('0');
        }
        return s.join(dec);
        }

        var month_earnings = [0,0,0,0,0,0,0,0,0,0,0,0];

        <%
            Earning.where(user_id: current_user.id).each do |e|
        %>
                <% if e.date.year == current_date.year %>
                   <%  if e.date.month == 1 %>
                        month_earnings[0] = month_earnings[0] + <%= e.value.to_i %>;
                    <% elsif e.date.month == 2 %>
                        month_earnings[1] = month_earnings[1] + <%= e.value.to_i %>;
                    <% elsif e.date.month == 3 %>
                        month_earnings[2] = month_earnings[2] + <%= e.value.to_i %>;
                    <% elsif e.date.month == 4 %>
                        month_earnings[3] = month_earnings[3] + <%= e.value.to_i %>;
                    <% elsif e.date.month == 5 %>
                        month_earnings[4] = month_earnings[4] + <%= e.value.to_i %>;
                    <% elsif e.date.month == 6 %>
                        month_earnings[5] = month_earnings[5] + <%= e.value.to_i %>;
                    <% elsif e.date.month == 7 %>
                        month_earnings[6] = month_earnings[6] + <%= e.value.to_i %>;
                    <% elsif e.date.month == 8 %>
                        month_earnings[7] = month_earnings[7] + <%= e.value.to_i %>;
                    <% elsif e.date.month == 9 %>
                        month_earnings[8] = month_earnings[8] + <%= e.value.to_i %>;
                    <% elsif e.date.month == 10 %>
                        month_earnings[9] = month_earnings[9] + <%= e.value.to_i %>;
                    <% elsif e.date.month == 11 %>
                        month_earnings[10] = month_earnings[10] + <%= e.value.to_i %>;
                    <% elsif e.date.month == 12 %>
                        month_earnings[11] = month_earnings[11] + <%= e.value.to_i %>;
                    <% end %>
                <% end %>
            
        <% end %>

        // Area Chart Example
        var ctx = document.getElementById("myAreaChart");
        var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
            datasets: [{
                label: "Ganhos",
                lineTension: 0.3,
                backgroundColor: "rgba(78, 115, 223, 0.05)",
                borderColor: "rgba(78, 115, 223, 1)",
                pointRadius: 3,
                pointBackgroundColor: ["rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)"],
                pointBorderColor: ["rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)"],
                pointHoverRadius: 3,
                pointHoverBackgroundColor: ["rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)","rgba(78, 115, 223, 1)"],
                pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                pointHitRadius: 10,
                pointBorderWidth: 2,
                data: month_earnings,
            }],
        },
        options: {
            maintainAspectRatio: false,
            layout: {
            padding: {
                left: 10,
                right: 25,
                top: 25,
                bottom: 0
            }
            },
            scales: {
            xAxes: [{
                time: {
                unit: 'date'
                },
                gridLines: {
                display: false,
                drawBorder: false
                },
                ticks: {
                maxTicksLimit: 7
                }
            }],
            yAxes: [{
                ticks: {
                maxTicksLimit: 5,
                padding: 10,
                // Include a dollar sign in the ticks
                callback: function(value, index, values) {
                    return '$' + number_format(value);
                }
                },
                gridLines: {
                color: "rgb(234, 236, 244)",
                zeroLineColor: "rgb(234, 236, 244)",
                drawBorder: false,
                borderDash: [2],
                zeroLineBorderDash: [2]
                }
            }],
            },
            legend: {
            display: false
            },
            tooltips: {
            backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
            titleMarginBottom: 10,
            titleFontColor: '#6e707e',
            titleFontSize: 14,
            borderColor: '#dddfeb',
            borderWidth: 1,
            xPadding: 15,
            yPadding: 15,
            displayColors: false,
            intersect: false,
            mode: 'index',
            caretPadding: 10,
            callbacks: {
                label: function(tooltipItem, chart) {
                var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
                }
            }
            }
        }
        });

        myLineChart.data.datasets[0].pointBackgroundColor[<%= current_date.month - 1 %>] =  "red";
        myLineChart.data.datasets[0].pointBorderColor[<%= current_date.month - 1 %>] =  "rgb(255,25,35,.4)";
        myLineChart.data.datasets[0].pointHoverBackgroundColor[<%= current_date.month - 1 %>] =  "rgb(255,105,90,.8)";
        myLineChart.update();

    </script>

    <!-- Pie Graph -->
    <script type="text/javascript">

    $(document).ready(function(){
        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';

        function number_format(number, decimals, dec_point, thousands_sep) {
        // *     example: number_format(1234.56, 2, ',', ' ');
        // *     return: '1 234,56'
        number = (number + '').replace(',', '').replace(' ', '');
        var n = !isFinite(+number) ? 0 : +number,
            prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
            sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
            dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
            s = '',
            toFixedFix = function(n, prec) {
            var k = Math.pow(10, prec);
            return '' + Math.round(n * k) / k;
            };
        // Fix for IE parseFloat(0.55).toFixed(0) = 0;
        s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
        if (s[0].length > 3) {
            s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
        }
        if ((s[1] || '').length < prec) {
            s[1] = s[1] || '';
            s[1] += new Array(prec - s[1].length + 1).join('0');
        }
        return s.join(dec);
        }


        var titles = [];
        var values = [];
        var colors = [];
        <%
            MovementType.where("pointer_type = 'ganho' AND user_id = #{current_user.id}").each do |t|
        %>
            titles.push('<%= t.title %>');
            values.push('<%= t.earnings.where("date > ? AND date < ?", Time.now.beginning_of_month, Time.now.end_of_month).sum(&:value).to_i %>');
            colors.push('<%= t.color %>');
        <% end %>

        // Pie Chart Example
        var ctx = document.getElementById("myPieChart");
        var myPieChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: titles,
            datasets: [{
            data: values,
            backgroundColor: colors,
            hoverBackgroundColor: '#2e59d9',
            hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
        },
        options: {
            maintainAspectRatio: false,
            tooltips: {
            backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
            borderColor: '#dddfeb',
            borderWidth: 1,
            xPadding: 15,
            yPadding: 15,
            yAxes: [{
                ticks: {
                maxTicksLimit: 5,
                padding: 10,
                // Include a dollar sign in the ticks
                callback: function(value, index, values) {
                    return '$' + number_format(value);
                }
                },
                gridLines: {
                color: "rgb(234, 236, 244)",
                zeroLineColor: "rgb(234, 236, 244)",
                drawBorder: false,
                borderDash: [2],
                zeroLineBorderDash: [2]
                }
            }],
            displayColors: false,
            caretPadding: 10,
            },
            legend: {
            display: false
            },
            cutoutPercentage: 80,
            callbacks: {
                label: function(tooltipItem, chart) {
                var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
                }
            }
        },
        });
    });
    </script>