<!DOCTYPE html>
<html>
    <head>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <title>VWallet</title>
        <link rel="icon" type="image/svg" href="svgs/brands/alipay.svg" />
        <!-- Custom fonts for this template-->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="css/sb-admin-2.min.css" rel="stylesheet">
    </head>
    <% if current_user %>
    <body id="page-top">  
        <div id="wrapper">  
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
                <a class="sidebar-brand d-flex align-items-center justify-content-center sidebar-divider-right" style="background: white;" href="index.html">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-wallet" style="color: #806520"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3"><span style="color: #f6c23e">V</span><span style="color: #c89e32">W</span><span style="color: #a2a2a2">allet</span> <sup style="color: #f6c23e">2</sup></div>
                </a>
                <hr class="sidebar-divider my-0">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span></a>
                </li>
                <hr class="sidebar-divider">
                <div class="sidebar-heading">
                    minha vwallet
                </div>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-dollar-sign fa-cog text-success"></i>
                        <span>Ganhos</span>
                    </a>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Utilidades:</h6>
                            <a class="collapse-item" href="#" data-toggle="modal" data-target="#novoGanhoModal">Adicionar</a>
                            <a class="collapse-item" href="cards.html">Listar</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                        aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fas fa-funnel-dollar fa-cog text-danger"></i>
                        <span>Despesas</span>
                    </a>
                    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                        data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Utilidades:</h6>
                            <a class="collapse-item" href="#" data-toggle="modal" data-target="#novaDespesaModal">Adicionar</a>
                            <a class="collapse-item" href="cards.html">Listar</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTipos"
                        aria-expanded="true" aria-controls="collapseTipos">
                        <i class="fas fa-clipboard-list"></i>
                        <span>Tipos</span>
                    </a>
                    <div id="collapseTipos" class="collapse" aria-labelledby="headingTipos"
                        data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header text-success">Ganhos:</h6>
                            <a class="collapse-item" href="#" data-toggle="modal" data-target="#novoTipoGanhoModal">Adicionar</a>
                            <a class="collapse-item" href="cards.html">Listar</a>
                            <h6 class="collapse-header text-danger">Despesas:</h6>
                            <a class="collapse-item" href="#" data-toggle="modal" data-target="#novoTipoDespesaModal">Adicionar</a>
                            <a class="collapse-item" href="cards.html">Listar</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSubTipos"
                        aria-expanded="true" aria-controls="collapseSubTipos">
                        <i class="fas fa-clipboard-check"></i>
                        <span>Sub-Tipos</span>
                    </a>
                    <div id="collapseSubTipos" class="collapse" aria-labelledby="headingSubTipos"
                        data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="#" data-toggle="modal" data-target="#novoSubTipoModal">Adicionar</a>
                            <a class="collapse-item" href="cards.html">Listar</a>
                        </div>
                    </div>
                </li>
                <hr class="sidebar-divider">
                <div class="sidebar-heading">
                    Outros
                </div>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                        aria-expanded="true" aria-controls="collapsePages">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>Relatórios</span>
                    </a>
                    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Login Screens:</h6>
                            <a class="collapse-item" href="login.html">Login</a>
                            <a class="collapse-item" href="register.html">Register</a>
                            <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                            <div class="collapse-divider"></div>
                            <h6 class="collapse-header">Other Pages:</h6>
                            <a class="collapse-item" href="404.html">404 Page</a>
                            <a class="collapse-item" href="blank.html">Blank Page</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="charts.html">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Gráficos</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tables.html">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Tabelas</span></a>
                </li>
                <hr class="sidebar-divider d-none d-md-block">
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>
                <div class="sidebar-card">
                    <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="">
                    <p class="text-center mb-2"><strong>VWallet Pro</strong> é recheado de conteúdos premium com constantes manutenções contendo diferentes funcionalidades!</p>
                    <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Me tornar Pro!</a>
                </div>

            </ul>
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <!-- Top Content -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                        <form
                            class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small" placeholder="Procurar por..."
                                    aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-wallet" style="background: #806520;color: white;" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown no-arrow d-sm-none">
                                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-search fa-fw"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                    aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto w-100 navbar-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control bg-light border-0 small"
                                                placeholder="Procurar por..." aria-label="Search"
                                                aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-wallet" type="button">
                                                    <i class="fas fa-search fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-bell fa-fw"></i>
                                    <span class="badge badge-danger badge-counter">3+</span>
                                </a>
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                    aria-labelledby="alertsDropdown">
                                    <h6 class="dropdown-header">
                                        Central de Alertas
                                    </h6>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-primary">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 12, 2019</div>
                                            <span class="font-weight-bold">Um novo relatório está pronto para download!</span>
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-success">
                                                <i class="fas fa-donate text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 7, 2019</div>
                                            $290.29 foi depositado na sua conta!
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-warning">
                                                <i class="fas fa-exclamation-triangle text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 2, 2019</div>
                                            Alerta de Gastos: Nós estamos percebendo uma quantidade excessiva de gastos.
                                        </div>
                                    </a>
                                    <a class="dropdown-item text-center small text-gray-500" href="#">Mostrar todos os Alertas</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-envelope fa-fw"></i>
                                    <span class="badge badge-danger badge-counter">7</span>
                                </a>
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                    aria-labelledby="messagesDropdown">
                                    <h6 class="dropdown-header">
                                        Central de Mensagens
                                    </h6>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                                alt="">
                                            <div class="status-indicator bg-success"></div>
                                        </div>
                                        <div class="font-weight-bold">
                                            <div class="text-truncate">Fala galera! Eu gostaria de saber se você podem me ajudar em algo que preciso.</div>
                                            <div class="small text-gray-500">Arthur Tchu · 58m</div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                                alt="">
                                            <div class="status-indicator"></div>
                                        </div>
                                        <div>
                                            <div class="text-truncate">Você ainda tem aqueles prints das notas fiscais?</div>
                                            <div class="small text-gray-500">Isadora · 1d</div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                                alt="">
                                            <div class="status-indicator bg-warning"></div>
                                        </div>
                                        <div>
                                            <div class="text-truncate">Muito fera esse app que você criou, Pedro! Está sendo muito útil!</div>
                                            <div class="small text-gray-500">Rafael Nareba · 2d</div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                                alt="">
                                            <div class="status-indicator bg-success"></div>
                                        </div>
                                        <div>
                                            <div class="text-truncate">Pedro, você pode me dar ração vei... To com fome</div>
                                            <div class="small text-gray-500">Léia Miranda · 2w</div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item text-center small text-gray-500" href="#">Ler mais Mensagens</a>
                                </div>
                            </li>

                            <div class="topbar-divider d-none d-sm-block"></div>
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= @user_name %></span>
                                    <img class="img-profile rounded-circle"
                                        src="img/undraw_profile.svg">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                    aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Perfil
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Configurações
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logs de Atividade
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>

                        </ul>

                    </nav>
                    <div class="container-fluid">
                        <%= yield %>
                    </div>
                </div>
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; VWallet 2021</span>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>


        <!-- Adicionar Ganhos Modal-->
        <div class="modal fade" id="novoGanhoModal" tabindex="-1" role="dialog" aria-labelledby="novoGanhoModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase text-wallet" id="novoGanhoModalLabel">Adicionar <span class="text-success">Ganho</span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <%= form_for(Earning.new, url: create_earning_path) do |form| %>
                        <div class="modal-body">
                        <% 
                            @tipo_ganhos = MovementType.where("pointer_type = 'ganho' AND user_id = #{current_user.id}")
                        %>
                                <div class="form-group row">
                                    <p id="alert" class="text-danger"><%= alert %></p>
                                </div>
                                <div class="form-group">
                                    <label for="title" class="col-form-label">Título:</label>
                                    <%= form.text_field :title, class:"form-control", id:"title", required: true, placeholder: 'Título aqui...' %>
                                </div>
                                <div class="form-group">
                                    <label for="date" class="col-form-label">Data do Ganho:</label>
                                    <%= form.date_field :date, class:"form-control", id:"date-loss", value: current_date, required: true %>
                                </div>
                                <div class="form-group">
                                    <label for="value" class="col-form-label">Valor:</label>
                                    <%= form.text_field :value, class:"money form-control", id:"value", placeholder: 'R$ 00,00', required: true %>
                                </div>
                                <div class="form-group">
                                    <label for="type" class="col-form-label">Tipo do Ganho:</label>
                                    <%= form.select :movement_type_id, @tipo_ganhos.collect { |c| [c.title, c.id]}, {include_blank: "Selecione de onde veio..."}, class:"form-control", id: 'earningTypeSelect', style: "height: 40px;", required: true %>
                                </div>
                                <div class="form-group">
                                    <label for="type" class="col-form-label">SubTipo do Ganho:</label>
                                    <%= form.select :sub_type_id, [], {include_blank: "Selecione a relação ao tipo..."}, class:"form-control", id: 'earningSubTypeSelect', style: "height: 40px;", required: true %>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="col-form-label">Descrição:</label>
                                    <%= form.text_area :description, class:"form-control", id:"deescription", placeholder: 'Este ganho veio de...', required: true %>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <%= form.hidden_field :user_id, value: current_user.id %>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>

        <!-- Adicionar Despesas Modal-->
        <div class="modal fade" id="novaDespesaModal" tabindex="-1" role="dialog" aria-labelledby="novaDespesaModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase text-wallet" id="novaDespesaModalLabel">Adicionar <span class="text-danger">Despesa</span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <%= form_for(Expense.new, url: create_expense_path) do |form| %>
                        <div class="modal-body">
                        <% 
                            @tipo_despesas = MovementType.where("pointer_type = 'despesa' AND user_id = #{current_user.id}")
                        %>
                                <div class="form-group row">
                                    <p id="alert" class="text-danger"><%= alert %></p>
                                </div>
                                <div class="form-group">
                                    <label for="title" class="col-form-label">Título:</label>
                                    <%= form.text_field :title, class:"form-control", id:"title", required: true, placeholder: 'Título aqui...' %>
                                </div>
                                <div class="form-group">
                                    <label for="date" class="col-form-label">Data da Despesa:</label>
                                    <%= form.date_field :date, class:"form-control", id:"date-loss", value: current_date, required: true %>
                                </div>
                                <div class="form-group">
                                    <label for="value" class="col-form-label">Valor:</label>
                                    <%= form.text_field :value, class:"money form-control", id:"value", placeholder: 'R$ 00,00', required: true %>
                                </div>
                                <div class="form-group">
                                    <label for="type" class="col-form-label">Tipo da Despesa:</label>
                                    <%= form.select :movement_type_id, @tipo_despesas.collect { |c| [c.title, c.id]}, {include_blank: "Selecione de onde veio..."}, class:"form-control", id: 'expenseTypeSelect', style: "height: 40px;", required: true %>
                                </div>
                                <div class="form-group">
                                    <label for="type" class="col-form-label">SubTipo da Despesa:</label>
                                    <%= form.select :sub_type_id, [], {include_blank: "Selecione a relação ao tipo..."}, class:"form-control", id: 'expenseSubTypeSelect', style: "height: 40px;", required: true %>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="col-form-label">Descrição:</label>
                                    <%= form.text_area :description, class:"form-control", id:"deescription", placeholder: 'Este ganho veio de...', required: true %>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <%= form.hidden_field :user_id, value: current_user.id %>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>

        <!-- Adicionar Tipo Ganho Modal-->
        <div class="modal fade" id="novoTipoGanhoModal" tabindex="-1" role="dialog" aria-labelledby="novoTipoGanhoModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase text-wallet" id="novoTipoGanhoModalLabel">Adicionar Tipo Para <span class="text-success">Ganhos</span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <%= form_for(MovementType.new, url: create_type_path) do |form| %>
                        <div class="modal-body">
                            <div class="form-group row">
                                <p id="alert" class="text-danger"><%= alert %></p>
                            </div>
                            <div class="form-group">
                                <label for="title" class="col-form-label">Título:</label>
                                <%= form.text_field :title, class:"form-control", id:"titleTypeGanho", required: true, placeholder: 'Título aqui...' %>
                            </div>
                            <div class="form-group">
                                <label for="value" class="col-form-label">Cor relacionada a gráficos:</label>
                                <%= form.color_field :color, class:"form-control", id:"colorGanhos", required: true, value: '#3F3F3F' %>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <%= form.hidden_field :pointer_type, value: 'ganho' %>
                            <%= form.hidden_field :user_id, value: current_user.id %>
                            <span class="btn btn-secondary" data-dismiss="modal">Fechar</span>
                            <%= form.submit 'Criar', class: "btn btn-primary" %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>

        <!-- Adicionar Tipo Despesas Modal-->
        <div class="modal fade" id="novoTipoDespesaModal" tabindex="-1" role="dialog" aria-labelledby="novoTipoDespesaModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase text-wallet" id="novoTipoDespesaModalLabel">Adicionar Tipo Para <span class="text-danger">Despesas</span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <%= form_for(MovementType.new, url: create_type_path) do |form| %>
                        <div class="modal-body">
                            <div class="form-group row">
                                <p id="alert" class="text-danger"><%= alert %></p>
                            </div>
                            <div class="form-group">
                                <label for="title" class="col-form-label">Título:</label>
                                <%= form.text_field :title, class:"form-control", id:"titleTypeDespesa", required: true, placeholder: 'Título aqui...' %>
                            </div>
                            <div class="form-group">
                                <label for="value" class="col-form-label">Cor relacionada a gráficos:</label>
                                <%= form.color_field :color, class:"form-control", id:"colorDespesa", required: true, value: '#3F3F3F' %>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <%= form.hidden_field :pointer_type, value: 'despesa' %>
                            <%= form.hidden_field :user_id, value: current_user.id %>
                            <span class="btn btn-secondary" data-dismiss="modal">Fechar</span>
                            <%= form.submit 'Criar', class: "btn btn-primary" %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>

        <!-- Adicionar Sub Despesas Modal-->
        <div class="modal fade" id="novoSubTipoModal" tabindex="-1" role="dialog" aria-labelledby="novoSubTipoModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase text-wallet" id="novoSubTipoModalLabel">Adicionar Novo Sub-Tipo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <%= form_for(SubType.new, url: create_sub_type_path) do |form| %>
                        <div class="modal-body">
                            <div class="form-group row">
                                <p id="alert" class="text-danger"><%= alert %></p>
                            </div>
                            <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="radio" name="subTypePointerType" value="ganho" checked><strong>Tipo Ganho</strong>
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="radio" name="subTypePointerType" value="despesa"><strong>Tipo Despesa</strong>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label for="title" class="col-form-label">Título:</label>
                                <%= form.text_field :title, class:"form-control", id:"titleSubTypeDespesa", required: true, placeholder: 'Título aqui...' %>
                            </div>
                            <div class="form-group" >
                                <label for="type" class="col-form-label">Vincular ao Tipo:</label>
                                <%= form.select :movement_type_id, MovementType.where(pointer_type: 'ganho').collect { |c| [c.title, c.id]}, {include_blank: "Selecione a relação ao tipo..."}, class:"form-control", id: 'subTypeSelect', style: "height: 40px;", required: true %>
                            </div>
                            <div class="form-group">
                                <label for="value" class="col-form-label">Cor relacionada a gráficos:</label>
                                <%= form.color_field :color, class:"form-control", id:"colorSubTypeDespesa", required: true, value: '#3F3F3F' %>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <span class="btn btn-secondary" data-dismiss="modal">Fechar</span>
                            <%= form.submit 'Criar', class: "btn btn-primary" %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </body>
    <% else %>
        <%= yield %>
    <% end %>


    <script>
        $(document).ready(function(){
            
            $("input[type=radio][name=subTypePointerType]").change(function(){
                $("#subTypeSelect").find('option').remove().end().append(`
                    <option value="0">Selecione a relação ao tipo...</option>
                `).val('0');

                $.get({
                    url: "/callback",
                    type: "get",
                    data: {"sub_type_radio": "true","type_name": this.value},
                    success: function(data) {
                    },
                    error: function(data) {
                        alert('Desculpe, algo deu errado. Tente novamente');
                    }
                });
            });
            $('#expenseTypeSelect').change(function(){
                $.get({
                    url: "/callback",
                    type: "get",
                    data: {"type_id": this.value, "type_name": 'despesa'},
                    success: function(data) {
                    },
                    error: function(data) {
                        alert('Desculpe, algo deu errado. Tente novamente');
                    }
                });
            });
            $('#earningTypeSelect').change(function(){
                $.get({
                    url: "/callback",
                    type: "get",
                    data: {"type_id": this.value, "type_name": 'ganho'},
                    success: function(data) {
                    },
                    error: function(data) {
                        alert('Desculpe, algo deu errado. Tente novamente');
                    }
                });
            });
            $('.money').mask("#.##0,00", {reverse: true});
            $('.phone').mask('(00) 00000-0000');
            $('.date').mask('00/00/0000');
            
            $("input[type=radio][name=user[individual]]").change(function(){
                $("#name").val('');
                if (this.value == 'true') {
                    $("#name").attr("placeholder", 'Digite seu nome aqui...');
                }
                else {
                    $("#name").attr("placeholder", 'Um apelido para o grupo..');
                }
            });
        });
    </script>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>
</html>
